<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Cognito App</title>
</head>
<body>
<div>
    <div>
        <h1>Cognito App</h1>

        <div sec:authorize="isAuthenticated()">
            <div>
                User: <strong th:text="${#authentication.name}"></strong>!
                <br>
                <br>
            </div>
            <div>
                <div th:text="${#authentication.getPrincipal()}"/>
                <br>
                <br>
            </div>
            <div>
                <a th:href="@{/logout}">
                    <button>Log out</button>
                </a>
            </div>
        </div>

        <div sec:authorize="isAnonymous()">
            <div>
                <a th:href="@{/oauth2/authorization/cognito}">
                    <button>Log in</button>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>